body {
    background: black;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.title {
  z-index: 2;
  margin: 1%;
  padding: 1%;

  top: 1%;
  left: 10%;

  font-family: HelveticaRoundedBold;
  position: absolute;
  color: white;
  font-size: 10vh;
  line-height: 10vh;
  transform-origin: 0% 0%;

}




.infobuttonbox{
  z-index: 3;
  position: absolute;
  top: 8%;
  left: 4%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.infobuttonbox:hover{

}



.infobox_container{
  position: absolute;
  z-index: 1;
  background-color: black;
  color: white;
  width: 100%;


}

.infobox{
  position: absolute;
  left:1%;
  padding-left: 1%;
  padding-right: 4%;
  top: 125px;
  width:100%;
  height: 100%;

}


.chapter1{
  margin: 1.5vw;
  padding: 0px;
  font-family: Helvetica;
  font-weight: normal;
  color: white;
  top: 10vw;
  font-size: 10vw;
  line-height: 10vw;

}

.titlechapter1 {
  font-family: Helvetica;
  position: center;
}

.introchapter1 {
  font-family: Helvetica;
}

.introchapter2 {
  font-family: Helvetica;
}

.introchapter3 {
  font-family: Helvetica;
}

.introchapter4 {
  font-family: Helvetica;
}


.infobuttonimage{
  position: absolute;
  width: 100%;
  transform: rotate(-25deg);
}

.infobuttontext {
  margin: 0px;
  padding: 0px;
  left:6vw;
  width: 15vw;
  position: absolute;
  color: white;
  font-family: Helvetica;
  font-size: 3vw;


}


.gif {

    display: inline-block;
    top:0vh;
    /* position: fixed;
    left: 0vw; */

    position: center;
    background: black;
    overflow: hidden;
}

.gif1 {
    width: 100%;
    position: fixed;
    display: block;
}

.gif2 {
    width: 100%;
    top: 75vw;
    position: fixed;
    display: block;
}

.gif3 {
    width: 100%;
    top: 140vw;
    position: fixed;
    display: block;
}


.overlay {
    position: relative;
    /* width: 80vw; */
    /* top: 0;
    left: 50%; */

    display: none;
}

.visible {
    display: block;
}

.blob {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 20%;
  z-index: 3;
  cursor: move;
}



@font-face {
  font-family: HelveticaRoundedBold;
  src: url("assets/HelveticaRoundedBold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Caslon540;
  src: url("assets/Caslon540ITALIC.ttf");
  font-weight: italic;
}

@font-face {
  font-family: Theinhardt;
  src: url("assets/Theinhardt-Regular.otf");
}
