/*TODO: 

– Make all chapters divs, e.g <div class='chapter1'></div>
– Make all paragraphs in a seperate <p> tag
– Add class 'chapter' to all chapters, so it "chapter1" -> "chapter chapter1", "chapter chapter2", ...
– Add anchors for your chapters above the h1 tag like this: <a id="chapter2" class="anchor"></a>
*/

* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  text-decoration-color: none;
}

a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: HelveticaRounded;
  src: url('assets/HelveticaRounded.ttf');
  font-weight: normal;
}

@font-face {
  font-family: GaramondRegular;
  src: url('assets/GaramondRegular.ttf');
  font-weight: normal;
}

/* @font-face {
  font-family: Theinhardt;
  src: url('assets/Theinhardt-Regular.otf');
} */

html {
  width: 100%;
  font-size: 20px;
}

body {
  width: 100%;
  background: #000;
  font-family: GaramondRegular, 'Times New Roman', Times, serif;
  line-height: 1.4;
}

.container {
  overflow-y: hidden;
}

/* =========================
      TITLE SECTION
=========================== */

.title {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  font-family: HelveticaRounded, 'Arial Rounded MT Bold', sans-serif;
  color: #fff;
  text-align: center;
}

.title > h1 {
  display: inline-block;
  font-size: 2em;
}

.infobuttontext:hover {
  cursor: pointer;
}

.title > .infobuttonimage {
  display: inline-block;
  height: 4em;
}

.title > img {
  vertical-align: -70%;
}

.menu {
  display: flex;
  display: none;
  justify-content: space-between;
}

.menu li {
  color: white;
  font-size: 1em;
  display: inline-block;
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

/* =========================
      GIF BOX SECTION
=========================== */

.gifbox {
  position: relative;
  width: 100%;
  z-index: -9999;
  /* display: none; */
}

.gifbox > img {
  width: 100%;
  background-color: #000; /* fallback color if gif doesn't load */
}

/* =========================
      MAIN TEXT SECTION
=========================== */
.infobox {
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 15vh; /* compensate for the fixed title */
  padding-left: 6vw;
  padding-right: 6vw;

  max-width: 900px;
  color: #fff;
  display: none;
}

.chapter > h1,
h2 {
  font-family: HelveticaRounded;
  text-align: center;
}

.chapter {
  margin-bottom: 100px; /* space between chapters */
}

p {
  text-indent: 2em;
}

/* =========================
      RESPONSIVE SECTION
=========================== */

/* TODO: Responsiveness (It should stay last) */
@media only screen and (max-width: 900px) {
  html {
    font-size: 18px;
  }
  .infobox {
    padding-top: 50vh; /* compensate for the fixed title */
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

/*
@media only screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}
*/

/* .infobuttonbox {
  z-index: 3;
  position: absolute;
  top: 8%;
  left: 4%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
} */

/*
.infobuttonbox:hover {
}

.infobox_container {
  z-index: 1;
  background-color: black;
  color: white;
  width: 100%;
}

.infobox {
  position: absolute;
  left: 3%;
  top: 125px;
  width: 97%;
  height: 100%;
}

.chapter1 {
  margin: 1.5vw;
  padding: 0px;
  font-family: Helvetica;
  font-weight: normal;
  color: white;
  top: 12px;
  font-size: 20vw;
  line-height: 20vw;
}

.titlechapter1 {
  font-family: HelveticaRounded;
  text-align: center;
}

.titlechapter2 {
  font-family: HelveticaRounded;
  text-align: center;
}

.titlechapter3 {
  font-family: HelveticaRounded;
  text-align: center;
}

.titlechapter4 {
  font-family: HelveticaRounded;
  text-align: center;
}

.subtitlechapter1 {
  font-family: GaramondRegular;
  text-align: center;
}

.subtitlechapter2 {
  font-family: GaramondRegular;
  text-align: center;
}

.subtitlechapter3 {
  font-family: Garamond;
  text-align: center;
}

.subtitlechapter4 {
  font-family: GaramondRegular;
  text-align: center;
}

.introchapter1 {
  font-family: HelveticaRounded;
  font-size: 33px;
  line-height: 33px;
}

.introchapter2 {
  font-family: HelveticaRounded;
  font-size: 7px;
  line-height: 7vw;
}

.introchapter3 {
  font-family: HelveticaRounded;
  font-size: 6.5vw;
  line-height: 7vw;
}

.introchapter4 {
  font-family: HelveticaRounded;
  font-size: 6.5vw;
  line-height: 7vw;
}

.infobuttonimage {
  position: absolute;
  width: 100%;
  transform: rotate(-25deg);
}

.infobuttontext {
  margin: 0px;
  padding: 0px;
  left: 6vw;
  width: 15vw;
  position: absolute;
  color: white;
  font-family: Helvetica;
  font-size: 3vw;
}

.overlay {
  position: relative;
  width: 80vw; 
  top: 0;
  left: 50%;
  display: none;
}

.visible {
  display: block;
}

.blob {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 20%;
  z-index: 3;
  cursor: move;
} */
